@use "../custom" as *;
@use '../components/mixins' as *;

.intro-section{
    @include green-bg;
    padding: 5rem 0 0 0;
    width: 100%;
    max-height: 100%;

    .intros{
        position: relative;
        .girl{
            position: absolute;
            top: 157px;
            width: 962px;
            height: 642px;
            left: -105px;
        }
    }
}
