@use "../custom" as *;
@use '../components/mixins' as *;
.btn-rounded{
    position: relative;
    padding: 0.4rem 1.2rem;
    font-weight: 500;
    margin: 0;
    border: 0.1rem solid rgba($white, 0.1);
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: $white;

    i{
        color: black;
        font-size: 1rem;
    }
    
    &:hover{
        background-color: $light-green;
        color: white;
    }

    &--visit{
        background-color: $light-green;
        padding: 0.4rem 1.2rem;
        font-weight: 600;
        margin-left: 1rem;
        border: 0.1rem solid rgba($white, 0.1);
        border-radius: 6px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: white;
        font-family: 'Raleway', sans-serif;
    }



   
}

.btn-rounded--news{
    background-color: $light-green;
    padding: 0.4rem 1.2rem;
    font-weight: 600;
    margin-left: 0;
    border: 0.1rem solid rgba($white, 0.1);
    background-color: $white;   
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Raleway', sans-serif;
    

}

.t-button{
    @include green-bg;
    width: 200px; 
    height: 55px;
    color: $white;
    border-radius: 6px;
    border: 0.1rem solid rgba($white, 0.1);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
   
}


